*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-image: url('fond.jpg');
}


.form-login {
width: 400px;
height: 340px;
background-color: #4e4d4d;
margin: auto;
margin-top: 180px;
box-shadow: 7px 13px 37px #000;
padding: 20px 30px;
border-top: 4px solid #017bab;
color: white;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background:#252323;
    font-size: 14px;
    font-weight: bold;
    color: aqua;

}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p {
    text-align: center;
    border-bottom: 1px solid;
    height: 40px;

}

.form-login a {
      color: white;
      text-decoration: none;
      font-size: 14px;


}

.form-login a :hover{
    text-decoration: underline;

}

.buttons{
	align-items: center;
	text-align: center;
	width: 97%;
	height: 40px;
	border: none;
	background: linear-gradient(0deg,#2c3c99,#00bfff);
	color: white;
	margin-bottom: 16px;
	margin-left: 4px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 8px;
	transform: translateY(-1%);
}
.buttons:hover {
	transform: translateY(3%);
}

.panel {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background:#252323;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.form-ventas {
    width: 800px;
    height: 640px;
    background-color: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.form-ventas h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 0px;
    border-bottom: 1px solid;
    font-size: 20px;
    
}

.buttonv{
	width: 17%;
	height: 40px;
	border: none;
	background: linear-gradient(0deg,#2c3c99,#00bfff);
	color: white;
	margin-bottom: 16px;
	margin-left: 54px;
    margin-top: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 8px;
	transform: translateY(-1%);
    box-shadow: 7px 13px 37px #000;
}
.buttonv:hover {
	transform: translateY(3%);
    box-shadow: 1px 3px 10px #000;
}

.cell{
    display:flex
}


.vent {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img{
    width: 120px;
    height: 160px;
    align-items: center;
	text-align: center;
    justify-content: center;
}

.form-cell {
    width: 200px;
    height: 340px;
    background-color: #4e4d4d;
    margin: 10px;
    margin-top: 18px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

.form-cell h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-cell p{
    font-size: 15px;
    margin: 5px;
}

.number {
    width: 90px;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 3px 5px;
    background:#252323;
    font-size: 14px;
    font-weight: bold;
    color: aqua;
}