.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 150vh;
    
}

body {
    background: linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    background-size: cover;
}

.box {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.box1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(227, 245, 165, 0.4);
}

.box2 {
    position: relative;
    top: 150px;
    left: 150px;
    background-color: rgba(127, 252, 200, 0.4);
}

.box3 {
    top: -100px;
    right: 10px;
    background-color: rgba(114, 241, 225, 0.4);
    position: static;
    display: block;
}

.box4 {
    position: fixed;
    top: 150px;
    right: 150px;
    background-color: rgb(135, 109, 252, 0.4);
}